  // scrollbar style start ------------------------->
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.2);
    background-color: #DDCFCF;
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
    height: 6px;
    width: 8px;
    background-color: #DDCFCF;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff;
  }

//   // <------------------------ scrollbar style end
